In [2]:
import numpy as np
import pandas as pd

In [6]:
#Load CSV
dataSet=pd.read_csv (r'C:\Users\MacsEli\OneDrive\Documents\GitRepository\statistical-analysis-project\train.csv')
dataSet.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [21]:
dataSet2=pd.read_csv (r'C:\Users\MacsEli\OneDrive\Documents\GitRepository\statistical-analysis-project\train.csv')
dataSet2

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [22]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1459 entries, 1 to 1460
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MSZoning          1459 non-null   object
 1   LotFrontage       1459 non-null   float64
 2   LotArea           1459 non-null   int64
 3   Street            1459 non-null   object
 4   Alley             1459 non-null   object
 5   LotShape          1459 non-null   object
 6   LandContour       1459 non-null   object
 7   Utilities         1459 non-null   object
 8   LotConfig         1459 non-null   object
 9   LandSlope         1459 non-null   object
 10  Neighborhood      1459 non-null   object
 11  Condition1        1459 non-null   object
 12  Condition2        1459 non-null   object
 13  BldgType          1459 non-null   object
 14  HouseStyle        1459 non-null   object
 15  OverallQual       1459 non-null   int64
 16  OverallCond       1459 non-null   int64
 17  RoofStyle         1459 non-null   object
 18  RoofMatl          1459 non-null   object
 19  Exterior1st       1459 non-null   object
 20  Exterior2nd       1459 non-null   object
 21  MasVnrType        1459 non-null   object
 22  MasVnrArea        1459 non-null   float64
 23  ExterQual         1459 non-null   object
 24  ExterCond         1459 non-null   object
 25  Foundation        1459 non-null   object
 26  BsmtQual          1459 non-null   object
 27  BsmtCond          1459 non-null   object
 28  BsmtExposure      1459 non-null   object
 29  BsmtFinType1      1459 non-null   object
 30  BsmtFinType2      1459 non-null   object
 31  BsmtUnfSF         1459 non-null   int64
 32  TotalBsmtSF       1459 non-null   int64
 33  Heating           1459 non-null   object
 34  HeatingQC         1459 non-null   object
 35  CentralAir        1459 non-null   int64
 36  Electrical        1459 non-null   object
 37  LowQualFinSF      1459 non-null   int64
 38  GrLivArea         1459 non-null   int64
 39  BedroomAbvGr      1459 non-null   int64
 40  KitchenAbvGr      1459 non-null   int64
 41  KitchenQual       1459 non-null   object
 42  TotRmsAbvGrd      1459 non-null   int64
 43  Functional        1459 non-null   object
 44  Fireplaces        1459 non-null   int64
 45  FireplaceQu       1459 non-null   object
 46  GarageType        1459 non-null   object
 47  GarageFinish      1459 non-null   object
 48  GarageCars        1459 non-null   int64
 49  GarageArea        1459 non-null   int64
 50  GarageQual        1459 non-null   object
 51  GarageCond        1459 non-null   object
 52  PavedDrive        1459 non-null   object
 53  WoodDeckSF        1459 non-null   int64
 54  OpenPorchSF       1459 non-null   int64
 55  EnclosedPorch     1459 non-null   int64
 56  3SsnPorch         1459 non-null   int64
 57  ScreenPorch       1459 non-null   int64
 58  PoolArea          1459 non-null   int64
 59  PoolQC            1459 non-null   object
 60  Fence             1459 non-null   object
 61  MiscFeature       1459 non-null   object
 62  MiscVal           1459 non-null   int64
 63  SaleType          1459 non-null   object
 64  SaleCondition     1459 non-null   object
 65  SalePrice         1459 non-null   int64
 66  Remodelacion      1459 non-null   int64
 67  AÃ±osConstruidos   1459 non-null   int64
 68  AÃ±osRemodelacion  1459 non-null   int64
 69  AÃ±osConstGar      1459 non-null   float64
 70  TotBaÃ±os          1459 non-null   int64
 71  TotMedBaÃ±o        1459 non-null   int64
 72  TotalBsmFinisSF   1459 non-null   int64
 73  TotalFlrSF        1459 non-null   int64
dtypes: float64(3), int64(29), object(42)
memory usage: 854.9+ KB

In [7]:
# Eliminamos el NaN encontrado
dataSet = dataSet.dropna(subset=['Electrical'])

# Los demÃ¡s NaN los convertimos a 0
dataSet = dataSet.fillna(0)

# Ponemos el Id como indice para que no nos de problemas mas adelante
dataSet = dataSet.set_index('Id',drop=True)

# Obtenemos una columna binaria que nos indique si la casa ah sido remodelada
dataSet['Remodelacion'] = dataSet.YearRemodAdd == dataSet.YearBuilt
dataSet['Remodelacion'] = dataSet['Remodelacion'].astype('str')
dataSet['Remodelacion'] = dataSet['Remodelacion'].replace({'True':0,'False':1})

# Obtenemos una columna binaria que nos indique si tiene o no Aire Acondicionado
dataSet['CentralAir'] = dataSet['CentralAir'].replace({'N':0,'Y':1})

df_col_binarias = ['Remodelacion','CentralAir']

# Obtenemos una columna con los aÃ±os de haber sido construida la casa
dataSet['AÃ±osConstruidos'] = 2021 - dataSet['YearBuilt']
# Obtenemos una columna con los aÃ±os de haber sido remodelada la casa
dataSet['AÃ±osRemodelacion'] = 2021 - dataSet['YearRemodAdd']
dataSet['AÃ±osRemodelacion'] = dataSet['AÃ±osRemodelacion'].where(dataSet['Remodelacion']==1,0)
dataSet['AÃ±osRemodelacion']

# Obtenemos en una columna los aÃ±os de construccion del garaje
dataSet['AÃ±osConstGar']= 2021 - dataSet['GarageYrBlt']
dataSet['AÃ±osConstGar'] = dataSet['AÃ±osConstGar'].replace({2021:0})

# Unificamos datos
# Sumaremos el numero total de baÃ±os completos
dataSet['TotBaÃ±os'] = dataSet['BsmtFullBath']+dataSet['FullBath']

# Sumaremos el numero total de medios baÃ±os
dataSet['TotMedBaÃ±o']=dataSet['BsmtHalfBath']+dataSet['HalfBath']

# Sumaremos el total de pies cuadrados de terminacion del sotano
dataSet['TotalBsmFinisSF'] = dataSet['BsmtFinSF1']+dataSet['BsmtFinSF2']

# Sumaremos el total de pies cuadrados de los pisos de la casa
dataSet['TotalFlrSF'] = dataSet['1stFlrSF']+dataSet['2ndFlrSF']

# Eliminamos las columnas sobre las cuales ya ejecutamos alguna transformacion
dataSet.drop(['BsmtFinSF1','BsmtFinSF2','1stFlrSF','2ndFlrSF','GarageYrBlt','BsmtFullBath','FullBath','BsmtHalfBath','HalfBath','MSSubClass','MoSold','YrSold','YearRemodAdd','YearBuilt'],axis=1,inplace=True)

In [23]:
dataSet2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [24]:
#Limpieza diferente
#liminar columnas o filas solo si todos los valores son nulos 
dataSet2Filter1 = dataSet2.dropna(how='all')

In [25]:
#Despues del filtrado
dataSet2Filter1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 935.3+ KB

In [26]:
dataSet2Filter1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [29]:
#Eliminar todas las columnas con alguna sin valor
dataSet2Filter2 = dataSet2Filter1.dropna(axis=1)
dataSet2Filter2.head()

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [28]:
#Identificar Valores nulos restantes
dataSet2Filter2.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 62, dtype: int64

In [27]:
dataSet2Filter3 = dataSet2Filter1.dropna(subset=['0'])
print(dataSet2Filter3)

KeyError: ['0']